
html, body {
    height: 100%;
    margin: 0;
}

body {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: calc(100% - 100px); /* header */
}

.navbar {
    margin-bottom: 0 !important;
}

.mail-details-modal .modal-dialog {
    width :40%;
    height: 90%;
    min-width: 800px;
    min-height: 400px;
}

pre.mail-body-plaintext {

    height: auto;
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    background-color: #fafafa;

}
