{
  "env": {
    "mocha": true
  },
  "globals": {
    "expect": true,
    "sinon": true,
    "triggerEvent": false,
    "generateComponentMounter": false
  },
  "rules": {
      "no-unused-expressions": "off"
  }
}
